@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.spacelab.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://intercoisas.com" style="padding-top: 6px;"><img src="~/Content/images/logo_chronos.png" style="width: 100px;" /></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Listar Dispositivos", "Listar", "Dispositivo")</li>
                            <li>@Html.ActionLink("Cadastrar Dispositivo", "Cadastro", "Dispositivo")</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>*@
        <div class="bs-component">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://chronos.icconsulting.com.br" style="padding-top: 6px;"><img src="~/Content/images/logo_chronos.png" style="width: 100px;" /></a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Listar Dispositivos", "Listar", "Dispositivo")</li>
                        <li>@Html.ActionLink("Cadastrar Dispositivo", "Cadastro", "Dispositivo")</li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>@ViewBag.Title</h1>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <p>&copy; Todos os direitos reservados a <strong>Adilson Almeida</strong></p>
            </div>
        </nav>
    </footer>
</body>
</html>
